<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style>
            body {
                margin: 0;
                font-family: Comic Sans MS, cursive, sans-serif;
                background-color: #ffffff;
                color: rgb(0, 0, 0);
            }
            .content-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
            }
            div {text-align: center;}
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script type="module" src="/static/main.js"></script>
    </head>
    {% include "hamburger_menu.html" %}
    <body>
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
            {% include "contact.html" %}
        </div>
    </body>
</html>
