<!doctype html>
{% extends "style/master.html" %} {% block title %} Dig-for-Fire {% endblock %}
{% block content %}
<h1 style="text-align: center">Dig-for-Fire</h1>

<div class="results-container">
  <script type="module">
    import { getLibrary } from "/static/user/user.js";
    document.addEventListener(
      "DOMContentLoaded",
      getLibrary("library-results"),
    );
  </script>
  <h2 style="text-align: center">Library</h2>
  <ul id="library-results" class="results"></ul>
</div>
<br />

<div class="results-container">
  <script type="module">
    import { getHistory } from "/static/user/user.js";
    document.addEventListener(
      "DOMContentLoaded",
      getHistory("history-results"),
    );
  </script>
  <h2 style="text-align: center">Recommendation History</h2>
  <ul id="history-results" class="results"></ul>
</div>
<br />

{% endblock %}
