/* HTML: <div class="loader"></div> */
.loader {
    display: block;       /* instead of inline-grid */
    margin: 2rem auto;
    background: #fff;
    filter: blur(4px) contrast(12);
    /*position: fixed;   /* stay in place on screen */
    /*top: 50%;          /* halfway down */
    /*left: 50%;         /* halfway across */
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
}
.loader:before {
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 8%,#0000 0 15%);
}
.loader:after {
  clip-path: inset(0 100% 0 0);
  animation: l13 1.5s infinite linear;
}
@keyframes l13{
  50% {clip-path: inset(0)}
  to {clip-path: inset(0 0 0 100%)}
}

/* HTML: <div class="spaced"></div> */
.spaced {
    display: flex;
    flex-direction: column; /* stack children vertically */
    align-items: center;    /* horizontal centering */
    gap: 2rem;              /* vertical space between children */
}